@charset 'UTF-8';

#footer {
	padding: 50px 12.3% 24px;
	color: #c4c4c4;
	background-color: #000;
	bottom: 0;
    .footerContents {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .footerContents-contact {
        border-right: 1px solid #494949;
        width: 34.4%;
        .enterprise-logo {
            display: block;
            text-align: center;
        }
        .enterprise-logo img {
            justify-content: center;
            margin: auto;
            width: 50%;
        }
        .enterprise-detail {
            margin-top: 32px;
            .name {
                font-size: 1.3rem;
            }
            .address {
                margin-top: 10px;
                font-size: 1.3rem;
            }
        }
    }
    .footerContents-sitemap {
        width: 65.6%;
        align-items: center;
        display: flex;
        .sitemap-inner {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding-left: 15%;
            line-height: 21px;
        }
        .enterprise-info {
            .enterprise-detail {
                font-size: 1.2rem;
                .enterpriseInfos-item {
                    margin-top: 15px;
                }
            }
        }
        .siteInfo-item:not(:first-child) {
            margin-top: 15px;
        }
        .asideInfo {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 1.2rem;
        }
        .asideInfo-item:not(:first-child) {
            margin-top: 15px;
        }
        .largeCategory-link, #footer .footerContents-sitemap .middleCategory-link, #footer .footerContents-sitemap .smallCategory-link {
            display: block;
            color: #c4c4c4;
        }
        .footerContents-sitemap .largeCategory-link:hover, #footer .footerContents-sitemap .middleCategory-link:hover, #footer .footerContents-sitemap .smallCategory-link:hover {
            text-decoration: underline;
        }
    }
    .copyright {
        margin-top: 54px;
        text-align: center;
        font-size: 1.2rem;
    }
}
/* --------------------------------
 * smart phone
 * -------------------------------- */
 
